/* vscode://vscode.github-authentication/did-authenticate?windowid=1&code=084ec3276dc5c430a274&state=f53d9f70-175f-42e1-ad67-672ada2752e4 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

#nav{
    height: 60px;
    width: 100%;
    background-color:#ddd;
    position: fixed;
    top: 0;
    z-index:1;
}

.logo-nav{
    width: 100px;
    height:22.5px;
    margin: 17px 40px;
}

.list-btn{
    float:right;
    display:flex;
    list-style-type: none;
}

.list-btn li{
    width: calc(100%/3);
}

.list-btn button {background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%)}
.list-btn button {
    margin: 10px;
    padding: 5px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ddd;
    box-shadow: 0 0 20px #ddd;
    border-radius: 10px;
    display: block;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.list-btn button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #000;
   text-decoration: none;
}

.content{
    margin:125px 40px;
}

.content h2{
    font-size:32px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}

.content span{
    font-size:24px;
    opacity: 0.6;
}

.header-card{   
    margin-top: 100px;
    background-color:#f5f5f5f5;
    width: fit-content;
    border-radius:30px;
    margin-bottom: 30px;
}

.img-card{
    width: 250px;
    height:auto;
}

.header-card p{
    background-color: red;
    width: fit-content;
    border-radius:30px;
    color:#fff;
    padding:5px;
    font-size:15px;
    left: 15px;;
    position: relative;
    top: 15px;
}

.body-card strong{
    font-size: 22px;
    font-weight: 600;
}

.body-card p{
    margin-top:25px;
    opacity: 0.6;
}


.body-card a{
    position: relative;
    top: 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding:10px 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    float: left;
}

.body-card .body-card-btn{
    margin-left: 30px;
}

.product{
    display: flex;
    justify-content: space-between;
}

.card{
    width: calc(80%/4);
}

.footer{
    padding:55px 40px;
    border-top: 1px solid #ccc;
}

.header-footer{
    display:flex;
    justify-content: center;
}

.header-footer1{
    text-align:center;
}

.header-footer .header-footer1 p{
    padding-bottom:40px;
    border-bottom:2px solid #bbb;
    opacity: 0.6;
}

.header-footer .header-footer1 button{
    margin-top:65px;
    padding:15px;
    border-radius: 30px;
    border:1px solid #ccc;
    cursor: pointer;
    /* background-color:#fff; */
    opacity: .6;
}

.header-footer .header-footer1 button:hover{
    background-color:#000;
    color: #fff;
}

.body-footer{
    margin: 60px 0;
    border-bottom: 1px solid #ccc;
}

.body-footer p {
    font-size: 15px;
    opacity: 0.6;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 16px;
}

.body-footer .body-footer-a{
    margin-bottom:15px;
}

.body-footer a{
    text-decoration: none;
    font-size: 14px;
    color: #7f7f7f; 
    margin-right: 40px;
}

.body-footer span{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7f7f7f;
}

.body-footer .span1 {
    margin-left: 40px;
}

.list-footer-product{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.footer-product{
    margin-right: 100px;
}

.list-footer-product .footer-product li{
    list-style-type: none;
}

.list-footer-product .footer-product a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #767676;
}

.list-footer-product .footer-product span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.list-footer-product .footer-product ul{
    margin-top: 15px;
}

.footer-footer1{
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

.footer-footer2 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-footer2 .footer-footer2-icon {
    margin-right: 16px;
    float:left;
    margin-bottom: 50px;
}

.footer-footer2 .footer-footer2-icon .icon{
    color: #000;
}

.footer-footer2 .footer-footer2-icon .icon:hover{
    color: #ccc
}

.footer-footer2{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.footer-footer3{
    display:flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}

.footer-footer3-desc{
    width: calc(90%/3);
}

.footer-footer3-desc1{
    color: #7f7f7f;
    line-height: 24px;
}

.footer-footer3-desc2 a{
    text-decoration: none;
    color: #7f7f7f;
    line-height: 24px;
    border-right: 1px solid #000;
    padding-right: 5px;
}

.footer-footer3-desc3 a{
    text-decoration: none;
    color: #7f7f7f;
    line-height: 24px;
    display:flex;
}


